<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Dashboard de Superhéroes</title>
</head>
<body>
    <h1>Lista de Superhéroes</h1>
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta de Origen</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliados</th>
                <th>Enemigos</th>
            </tr>
        </thead>
        <tbody>
            <% superheroes.forEach(superheroe => { %>
                <tr>
                    <td><%= superheroe.nombreSuperHeroe %></td>
                    <td><%= superheroe.nombreReal %></td>
                    <td><%= superheroe.edad %></td>
                    <td><%= superheroe.planetaOrigen %></td>
                    <td><%= superheroe.debilidad.join(', ') %></td>
                    <td><%= superheroe.poderes.join(', ') %></td>
                    <td><%= superheroe.aliados.join(', ') %></td>
                    <td><%= superheroe.enemigos.join(', ') %></td>
                    <td>
                        <a href="/api/formulario/modificar-heroe/<%= superheroe._id %>">
                            <button>Editar</button>
                        </a>
                        <form action="/api/heroes/borrar-id/<%= superheroe._id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas borrar el superhéroe <%= superheroe.nombreSuperHeroe %>?');" style="display:inline;">
                            <button type="submit">Borrar</button>
                        </form>
                        
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html