<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Superhéroe</h1>
    <form action="/api/heroes/actualizar/<%= superheroeaEditar._id %>?_method=PUT" method="post">
    
        <label>Nombre del Superhéroe:</label>
        <input type="text" name="nombreSuperHeroe" required value="<%= superheroeaEditar.nombreSuperHeroe %>">
    
        <label>Nombre Real:</label>
        <input type="text" name="nombreReal" required value="<%= superheroeaEditar.nombreReal %>">
    
        <label>Edad:</label>
        <input type="number" name="edad" min="0" required value="<%= superheroeaEditar.edad %>">
    
        <label>Planeta de origen:</label>
        <input type="text" name="planetaOrigen" required value="<%= superheroeaEditar.planetaOrigen %>">
    
        <label>Debilidad (separadas por coma):</label>
        <input type="text" name="debilidad" value="<%= superheroeaEditar.debilidad.join(', ') %>">
    
        <label>Poderes (separados por coma):</label>
        <input type="text" name="poderes" value="<%= superheroeaEditar.poderes.join(', ') %>">
    
        <label>Aliados (separados por coma):</label>
        <input type="text" name="aliados" value="<%= superheroeaEditar.aliados.join(', ') %>">
    
        <label>Enemigos (separados por coma):</label>
        <input type="text" name="enemigos" value="<%= superheroeaEditar.enemigos.join(', ') %>">
    
        <br>
        <button type="submit">Guardar Cambios</button>
    </form>
    
</body>
</html>